<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheets" href="/stylesheets/login.css">
</head>
<body>
    <div class="login">
        <div class="leftpart"></div>
        <div class="loginform">
            <form class="myform">
                <input type="text" autocomplete="off" placeholder="帐号" class="el-input__inner"  id="username" />
                
                <input type="password" autocomplete="off" placeholder="密码" class="el-input__inner"  id="pwd" />
            
                <button type="button" class="el-button login-btn-submit el-button--primary" id="login"><!----><!----><span>登录</span></button>
            </form>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</html>